{% extends 'user/base.html.twig' %}
{% block title %}SICO: {{ project.name }} {% endblock %}
{% block body %}
    <div class="row mt-2">
        <div class="col s12 m6 z-depth-2 p-1 mt-1">
            <div class="row">
                <div class="col s6 centerTotalVertical ">
                    <img src="{{ asset('img/project.svg') }}" alt="" class="img-perfil-company">
                </div>
                <div class="col s6 centerTotalVertical">
                    <div class="attributeUser">
                        <h5>{{ project.name }}</h5>
                    </div>

                    <div class="attributeUser">
                        <i class="material-icons prefix">school</i>
                        <p>{{ project.getRequiredStudents() }} alumno/s</p>
                    </div>
                </div>
                <div class="attributeUser col s12">
                    <blockquote class="text-justify-total">{{ project.getDescription() }}</blockquote>
                </div>
            </div>
        </div>
        <div class="col m6 s12 w-100">
            <ul class="collection z-depth-1">
                <li class="collection-item avatar p-2">
                    <h5>Alumnos asignados</h5>
                    <a href="{{ path('user_fct_new_distribution_company') }}" class="waves-effect waves-light btn-small">
                        Nueva asignación
                    </a>
                </li>
                {% for distribution in distributions %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">person</i>
                        <span class="title">{{ distribution }}</span>
                        <p class="subtitle-collection">{{ distribution.group }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}