<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SICO{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- FullCalendar -->
        <link href="{{ asset('css/fullcalendar.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/materialize.min.js') }}"></script>
        <script src="{{ asset('js/init.js') }}"></script>

        <!-- FullCalendar -->
        <script src='{{ asset('js/fullcalendar/moment.min.js') }}'></script>
        <script src='{{ asset('js/fullcalendar/fullcalendar.js') }}'></script>
        <script src='{{ asset('js/fullcalendar/locale/es.js') }}'></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon-sico.png') }}"/>
</head>
<body>
{% block nav %}
{% endblock %}
<main class="container containerPrincipal">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            <script>
                {% for msg in app.session.flashBag.get('success') %}
                M.toast({
                    html: '<div class="msg_toast"><i class="small material-icons">done</i>{{ msg }}</div>',
                    classes: 'rounded msg_toast_success'
                });
                {% endfor %}
            </script>

        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-success">
            <script>
                {% for msg in app.session.flashBag.get('error') %}
                M.toast({
                    html: '<div class="msg_toast"><i class="small material-icons">error_outline</i>{{ msg }}</div>',
                    classes: 'rounded msg_toast_error'
                });
                {% endfor %}
            </script>

        </div>
    {% endif %}
    {% block body %}

    {% endblock %}
</main>

{{ render(controller('AppBundle\\Controller\\CommonController::organizationNameAction')) }}

</body>
</html>
