{% extends 'user/base.html.twig' %}
{% block body %}
    <h2>Gestión de alumnos</h2>

    <a href="{{ path('new_student') }}" class="waves-effect waves-light btn" id="createStudent">Crear alumnos</a>
    <div id="containerSelectCycleStudent">
        <select name="" id="selectCycleStudent">
            <option value="todos">- Elija ciclo -</option>
            <option value="2DAW">DAW</option>
            <option value="2ASIR">ASIR</option>
        </select>
    </div>
    <table class="responsive-table z-depth-1 centered mt-2">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Ciclo</th>
            <th>Curso</th>
            <th>Convocatoria</th>
            <th>Modificar</th>
            <th>Borrar</th>
        </tr>
        </thead>
        <tbody id="studentsTable">
        {% for student in students %}
            <tr>
                <td>{{ student[0].first_name }}</td>
                <td>{{ student[0].last_name }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.convocatory }}</td>
                <td>
                    <a href="{{ path('edit_student', {'id': student[0].id}) }}">
                        <i class="small material-icons">edit</i>
                    </a>
                </td>
                <td>
                    <a data-modal="modalStudent" href="{{ path('delete_student', {'id': student[0].id}) }}"
                       class="modalDelete modal-trigger">
                        <i class="small material-icons red-text">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal Structure -->
    <div id="modalStudent" class="modal">
        <div class="modal-content">
            <p>¿Está seguro de borrar el estudiante?</p>
        </div>
        <div class="modal-footer">
            <a href="#"
               class="actionDelete modal-close waves-effect waves-green btn-flat">Si</a>
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>

    <script>
        {
            let selectCycleStudents = function () {
                let tr, td, i;
                let ciclo = $(this).val();

                tr = $("#studentsTable tr");

                for (i = 0; i < tr.length; i++) {
                    if (ciclo === "todos") {
                        tr[i].style.display = "";
                    } else {
                        td = tr[i].getElementsByTagName("td")[2];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(ciclo) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            };

            let selectConvocatoryStudents = function () {
                let tr, td, i;
                let convocatoria = $(this).val();

                tr = $("#studentsTable tr");

                for (i = 0; i < tr.length; i++) {

                    if (convocatoria === "todos") {
                        tr[i].style.display = "";
                    } else {
                        td = tr[i].getElementsByTagName("td")[4];

                        if (td) {
                            if (td.innerHTML.toUpperCase() === convocatoria.toUpperCase()) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            };

            let selectCourseStudents = function () {
                let tr, td, i;
                let convocatoria = $(this).val();

                tr = $("#studentsTable tr");

                for (i = 0; i < tr.length; i++) {

                    if (convocatoria === "todos") {
                        tr[i].style.display = "";
                    } else {
                        td = tr[i].getElementsByTagName("td")[3];

                        if (td) {
                            if (td.innerHTML.toUpperCase() === convocatoria.toUpperCase()) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            };

            $(function () {
                $("#selectCycleStudent").on("change", selectCycleStudents);
                $("#selectConvocatoryStudent").on("change", selectConvocatoryStudents);
                $("#selectCourseStudent").on("change", selectCourseStudents);
            });
        }
    </script>
{% endblock %}