{% extends 'panel/base.html.twig' %}
{% block body %}
    <h2>Gestión de asignaciones</h2>
    <a href="{{ path('new_distribution_module_teacher') }}" class="waves-effect waves-light btn">Crear asignación</a>
    <div id="containerSelectCourseDistribution">
        <select name="" id="selectCourseDistribution">
            {% for course in courses %}
                <option value="{{ course.course }}">{{ course.course }}</option>
            {% endfor %}
        </select>
    </div>
    <table class="responsive-table z-depth-1 centered mt-2">
        <thead>
        <tr>
            <th>Profesor</th>
            <th>Módulo</th>
            <th>Grupo</th>
            <th>Horas</th>
            <th>Curso</th>
            <th>Desdoble</th>
            <th>Modificar</th>
            <th>Borrar</th>
        </tr>
        </thead>

        <tbody>
        {% for moduleTeacher in modulesTeachers %}
            <tr>
                <td>{{ moduleTeacher.teacher }}</td>
                <td>{{ moduleTeacher.module }}</td>
                <td>{{ moduleTeacher.gr }}</td>
                <td>{{ moduleTeacher.hours }}</td>
                <td>{{ moduleTeacher.course }}</td>
                {% if moduleTeacher.desdoble %}
                    <td><i class="small material-icons green-text">check</i></td>
                {% else %}
                    <td><i class="small material-icons red-text">close</i></td>
                {% endif %}
                <td>
                    <a href="{{ path('edit_distribution_module_teacher', {'id': moduleTeacher.id}) }}">
                        <i class="small material-icons">edit</i>
                    </a>
                </td>
                <td>
                    <a data-modal="modalModuleTeacher"
                       href="{{ path('delete_distribution_module_teacher', {'id': moduleTeacher.id}) }}"
                       class="modalDelete modal-trigger">
                        <i class="small material-icons red-text">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal Structure -->
    <div id="modalModuleTeacher" class="modal">
        <div class="modal-content">
            <p>¿Está seguro de borrar la asignación?</p>
        </div>
        <div class="modal-footer">
            <a href="#"
               class="actionDelete modal-close waves-effect waves-green btn-flat">Si</a>
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>

    <script>
        {
            let changeData = function () {
                    let distributions = "";

                    $("tbody").html("");
                    $.ajax({
                            type: "GET",
                            url: "{{ path('get_distribution_data') }}",
                            data: {'course': $(this).val()},
                            success: function (response) {
                                let html = "";
                                let icon = "";
                                distributions = JSON.parse(response.distributions);
                                distributions.forEach(function (distribution) {
                                    let id = distribution.id;

                                    let url = "{{ path('edit_distribution_module_teacher', {'id': 'idDist'}) }}";
                                    let url2 = "{{ path('delete_distribution_module_teacher', {'id': 'idDist'}) }}";

                                    url = url.replace("idDist", id);
                                    url2 = url2.replace("idDist", id);

                                    if (distribution.desdoble) {
                                        icon = "<i class=\"small material-icons green-text\">check</i>";
                                    } else {
                                        icon = "<i class=\"small material-icons red-text\">close</i>";
                                    }

                                    html += "" +
                                        "<tr>" +
                                        "<td>" + distribution.teacher + "</td>" +
                                        "<td>" + distribution.module + "</td>" +
                                        "<td>" + distribution.gr + "</td>" +
                                        "<td>" + distribution.hours + "</td>" +
                                        "<td>" + distribution.course + "</td>" +
                                        "<td>" + icon + "</td>" +
                                        "<td><a href=\"" + url + "\"><i class=\"small material-icons\">edit</i></a></td>" +
                                        "<td><a data-modal=\"modalModuleTeacher\" href=\"" + url2 + "\" class=\"modalDelete modal-trigger\"><i class=\"small material-icons red-text\">delete</i></a></td>" +
                                        "</tr>";
                                });

                                $("tbody").html(html);
                                cargarModalDelete()
                            }
                        }
                    )
                    ;
                }
            ;

            $(function () {
                $("#selectCourseDistribution").on("change", changeData);

            });
        }
    </script>
{% endblock %}