{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row allHeight centerVertical">
        <div class="col m8 offset-m2 l4 offset-l4 z-depth-4 p-2">
            <div class="col s12">
                <div class="row centerTotal">
                    <img id="logo-login" src="{{ asset('img/logo-color.png') }}">
                </div>
            </div>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn" type="submit" value="Cambiar contraseña"/>
                <a class="btn waves-effect red" href="{{ path('dashboard') }}" id="btnVolver">Volver</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        {
            let lengthArray = document.referrer.split('/').length;

            let lastUrl = document.referrer.split('/')[lengthArray - 1];

            if (lastUrl == 'login') {
                $("#btnVolver").prop('href', '{{ path("fos_user_security_logout") }}');
            } else {
                $("#btnVolver").prop('href', '{{ path("dashboard") }}');
            }
        }
    </script>
{% endblock fos_user_content %}
