{% extends 'base.html.twig' %}

{% block nav %}
    {{ render(controller('AppBundle:UserDashboard:dashboard')) }}
{% endblock %}
{% block body %}
    <div class="row mt-1">
        <div class="col s12 m4">
            <h5>Alumnos</h5>
            <table class="responsive-table centered z-depth-1">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>PI</th>
                    <th>FCT</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.__toString() }}</td>
                        <td><a href="{{ student.pi_tutor == '~' ? path('user_pi_new_distribution_project') : path('user_pi_edit_distribution_project',{'id':student.pi_id}) }}" class="tooltipped" data-position="top" data-tooltip="
                        <div class='tooltip'>
                            <i class='material-icons tiny'>school</i>{{ student.pi_tutor }}
                        </div>
                        <div class='tooltip'>
                            <i class='material-icons tiny'>description</i>{{ student.pi_project }}
                        </div>
                    "><i class="material-icons {{ student.pi_tutor == '~' ? 'red-text' : 'green-text' }}">brightness_1</i></a></td>
                        <td><a href="{{ student.fct_tutor == '~' ? path('user_fct_new_distribution_company') : path('user_fct_edit_distribution_company',{'id':student.fct_id}) }}" class="tooltipped" data-position="top" data-tooltip="
                        <div class='tooltip'>
                            <i class='material-icons tiny'>school</i>{{ student.fct_tutor }}
                        </div>
                        <div class='tooltip'>
                            <i class='material-icons tiny'>domain</i>{{ student.fct_company }}
                        </div>
                    "><i class="material-icons {{ student.fct_tutor == '~' ? 'red-text' : 'green-text' }}">brightness_1</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m8">
            <h5>Profesores</h5>
            <table class="responsive-table centered z-depth-1">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>PI</th>
                    <th>FCT</th>
                    <th>Reducción</th>
                    <th>Puntuación</th>
                    <th>Marzo 16/17</th>
                    <th>Septiembre 16/17</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getTeacher() }}</td>
                        <td>{{ user.getPI() }}</td>
                        <td>{{ user.getFCT() }}</td>
                        <td>{{ user.getReduction() }}</td>
                        <td class="ok_state">0</td>
                        <td class="ok_state">2</td>
                        <td class="warning_state">-4</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}