{% extends 'base.html.twig' %}
{% set ismarzo = false %}
{% if convocatory != "Sin convocatoria" %}
    {% set ismarzo = convocatory.getConvocatory() == "MARZO" %}
{% endif %}
{% block nav %}
    {{ render(controller('AppBundle:UserDashboard:dashboard')) }}
{% endblock %}
{% block body %}
    <div class="row mt-1">
        <div class="col s12 m4">
            <h5>Alumnos</h5>
            <table class="responsive-table centered z-depth-1">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>PI</th>
                    <th>FCT</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td><a href="{{ path('edit_student', {'id': student.id, 'flag': 'index'}) }}">{{ student.__toString() }}</a></td>
                        <td><a href="{{ student.pi_tutor == '~' ? path('user_pi_new_distribution_project', {'flag': 'index'}) : path('user_pi_edit_distribution_project',{'id':student.pi_id, 'flag': 'index'}) }}" class="tooltipped" data-position="top" data-tooltip="
                        <div class='tooltip'>
                            <i class='material-icons tiny'>school</i>{{ student.pi_tutor }}
                        </div>
                        <div class='tooltip'>
                            <i class='material-icons tiny'>description</i>{{ student.pi_project }}
                        </div>
                    "><i class="material-icons {{ student.pi_tutor == '~' ? 'red-text' : 'green-text' }}">brightness_1</i></a></td>
                        <td><a href="{{ student.fct_tutor == '~' ? path('user_fct_new_distribution_company', {'flag': 'index'}) : path('user_fct_edit_distribution_company',{'id':student.fct_id, 'flag': 'index'}) }}" class="tooltipped" data-position="top" data-tooltip="
                        <div class='tooltip'>
                            <i class='material-icons tiny'>school</i>{{ student.fct_tutor }}
                        </div>
                        <div class='tooltip'>
                            <i class='material-icons tiny'>domain</i>{{ student.fct_company }}
                        </div>
                    "><i class="material-icons {{ student.fct_tutor == '~' ? 'red-text' : 'green-text' }}">brightness_1</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m8">
            <h5>Profesores</h5>
            {% if ismarzo %}
                <table class="responsive-table centered z-depth-1">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>PI</th>
                        <th>FCT</th>
                        <th>Reducción</th>
                        <th>Resta ideal 2º</th>
                        <th>Resta ideal ciclo completo</th>
                        <th>Resta ideal reducción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getTeacher() }}</td>
                            <td>{{ user.getPI() }}</td>
                            <td>{{ user.getFCT() }}</td>
                            <td>{{ user.getReduction() }}</td>
                            <td class="{{ valclass(user.getRestIdeal()) }}">{{ user.getRestIdeal() }}</td>
                            <td class="{{ valclass(user.getRestIdealCycle()) }}">{{ user.getRestIdealCycle() }}</td>
                            <td class="{{ valclass(user.getRestIdealReduc()) }}">{{ user.getRestIdealReduc() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="responsive-table centered z-depth-1">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>PI</th>
                        <th>FCT</th>
                        <th>Resta ideal 2º</th>
                        <th>Resta ideal ciclo completo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getTeacher() }}</td>
                            <td>{{ user.getPI() }}</td>
                            <td>{{ user.getFCT() }}</td>
                            <td class="{{ valclass(user.getRestIdeal()) }}">{{ user.getRestIdeal() }}</td>
                            <td class="{{ valclass(user.getRestIdealCycle()) }}">{{ user.getRestIdealCycle() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}